<%- include("header") -%>

<h1>So about the comapny</h1>
<p>Revamp is a company that is set to revolutionise the nigerian people for it has a high prospect ad a bright future for such obvious reason needs a strong capable leader figure</p>

<%- include("footer") -%>
