<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="data:,"> <!-- this is to stop your site from sending a favicon data and clogging your database with unneccessary data -->
  <link rel="icon" href="/favicon.ico"> <!-- Or you can just add a favicon to save you from the stress -->
</head>
